extends /_layout.pug

append vars
  -
    page = "/examples/accordion.html"

block pageBody

append style
  link(rel="stylesheet", href="/examples/css/accordion.css")

block script_body
  script(src="/examples/js/accordion.js")

block pageBody

  div.pl-list
    span.pl-list_btn accordion
    div.pl-list_inner
      ul.pl-list_list
        li.pl-list_item 1
        li.pl-list_item 2
        li.pl-list_item 3
        li.pl-list_item 4
