extends /_layout.pug

append vars
  -
    page = "/examples/inview.html"

block pageBody

append style
  link(rel="stylesheet", href="/examples/css/inview.css")

append script_body
  script(src="/examples/js/inview.js")

block pageBody
  div.pl-inviewTarget
    p aaaa
