extends /_layout.pug

append vars
  -
    page = "/examples/inview.html"

block pageBody

append style
  link(rel="stylesheet", href="/examples/css/inview.css")

block script_body
  script(src="/examples/js/inview.js")

block pageBody
  div.pl-inviewTarget
    div.pl-inviewTarget_inner
      h1 in view
