extends /_layout.pug

block vars
  -
    page = "/examples/resize.html"

block pageBody

append style
  link(rel="stylesheet", href="/examples/css/resize.css")

append script_body
  script(src="/examples/js/resize.js")

block pageBody

  div resize
