extends /_layout.pug

block vars
  -
    page = ""

block pageBody

append style
  link(rel="stylesheet", href="/examples/css/tab.css")

append script_body
  script(src="/examples/js/tab.js")

block pageBody
  div.pl-head fixed
  section.pl-sectionGroup.pl-sectionGroup--1
    div.pl-sectionGroup_head
      div.pl-tabmenu
        ul.pl-tabmenu_list
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-A") section-A
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-B") section-B
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-C") section-C
    div.pl-sectionGroup_body
      section.pl-section.pl-section-A#section-A
        div.pl-section_body section-A
      section.pl-section.pl-section-B#section-B
        div.pl-section_body section-B
      section.pl-section.pl-section-C#section-C
        div.pl-section_body section-C
  section.pl-sectionGroup.pl-sectionGroup--2
    div.pl-sectionGroup_head
      div.pl-tabmenu
        ul.pl-tabmenu_list
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-D") section-D
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-E") section-E
    div.pl-sectionGroup_body
      section.pl-section.pl-section-D#section-D
        div.pl-section_body section-D
      section.pl-section.pl-section-E#section-E
        div.pl-section_body section-E
