.DS_Store
node_modules
.sass-cache
npm-debug.log
*.map
/.npm-version
/.node-version
/.vagrant
/package-lock.json
/config.yml
/vagrant_config.yml
/dist/development/examples/media/mainvisual.mp4
/build/gulpkit.js/tasks/.last_run_timestamp
/build/gulpkit.js/config_serve.js
/build/.webpack_cache
/build/.gulp
/build/.last_run
