.DS_Store
node_modules
.sass-cache
npm-debug.log
*.map
/.npm-version
/.node-version
/.vagrant
/package-lock.json
/config.yml
/vagrant_config.yml
/build/gulpkit.js/.last_run_time_log
/build/gulpkit.js/.webpack_cache
/build/gulpkit.js/config_serve.js
