@charset 'UTF-8';

@import
'variables'
,'mixins'
,'icons'
,'_vendor/normalize'
,'mixins_sprite';



.siteGlobalNav-01 {
  .links {
    > li > a {
      @include icon(arrow1_r);
      &::before {
        font-size: 12px;
      }
    }
  }
}


.page {
  @at-root {
    .page_body {
      height: 2000px;
    }
    .page_siteId {
      padding: 20px;
    }
  }
}

.siteGlobalNav {
  height: 50px;
  @at-root {
    .siteGlobalNav_nav {
      height: inherit;
      border: solid 1px #f00;
      box-sizing: border-box;
      background-color: #fff;
      .js-siteGlobalNavIsFixed & {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
      }
    }
  }
}

.hoverTarget {
  width: 100%;
  height: 20px;
  transition: height .25s ease-in-out;
  background-color: rgba(255, 0, 0, .2);
  &.js-hover {
    height: 40px;
  }
}

.toggleTarget {
  @at-root {
    .toggleTarget_btn {
      display: block;
      padding: 10px;
      border: solid 1px #f00;
      cursor: pointer;
    }
    .toggleTarget_inner {
      background-color: rgba(0, 0, 255, .2);
      .js & {
        transition-property: height, opacity, background-color;
        transition-duration: .25s;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        height: 0;
        opacity: 0;
      }
      .js-toggleTargetIsOpening & {
        opacity: 1;
      }
      .js-toggleTargetIsOpen & {
        background-color: rgba(0, 255, 255, .2);
      }
    }
  }
}

.inviewTarget {
  opacity: 0;
  transition: opacity .5s ease;
  &.js-isInView {
    opacity: 1;
  }
}
