@charset "UTF-8";

@import
  "variables"
  ,"mixins"
  ,"icons"
  ,"_vendor/normalize"
  ,"mixins_sprite"
;

@import "components/layout";
@import "components/nav";

.and {
  @include mq( min-width, md, and, max-width, md ) {
    @include fs( 14, 16 );
  }
}

.caseOne {
  @include mq( min-width, md ) {
    margin-top: 10px;
  }
  @include mq( max-width, md ) {
    margin-top: 20px;
  }
}

.caseTwo {
  @include mq( max-height, 100px ) {
    margin-top: 0;
  }
}

