@charset "UTF-8";

@import
  "../../css/variables"
  ,"../../css/mixins"
  ,"../../css/icons"
  ,"../../css/mixins_sprite"
;


.pl-inviewTarget {
  opacity: 0;
  transform: translateX(-10%);
  transition: opacity 3s ease, transform .5s ease;
  margin-top: 100vh;
  &.js-isInView {
    opacity: 1;
    transform: translateX(0);
  }
}
