@charset "UTF-8";

@import
  "../../css/variables"
  ,"../../css/mixins"
  ,"../../css/icons"
  ,"../../css/mixins_sprite"
;


.pl-localNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  @at-root {
    .pl-localNav_list {
      list-style: none;
      display: flex;
      padding: 0;
    }
    .pl-localNav_item {
      padding-right: 10px;
    }
  }
}

.pl-section {
  min-height: 100vh;
  img {
    width: 100%;
  }
  &:nth-child(odd) {
    background-color: #fcc;
  }
  &:nth-child(even) {
    background-color: #c7c7e7;
  }
}
