@charset "UTF-8";

@import
  "../../css/variables"
  ,"../../css/mixins"
  ,"../../css/icons"
  ,"../../css/mixins_sprite"
;

.page {
  @at-root {
    .page_head {
      position: fixed;
      z-index: 10;
      background-color: #fff;
      width: 100%;
    }
  }
}
.pl-mainVisual {
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    box-sizing: border-top;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-top: solid 5px rgba(#000, .8);
    border-right: solid 5px rgba(#000, .8);
    border-bottom: solid 5px rgba(#000, .3);
    border-left: solid 5px rgba(#000, .3);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: spin 1s linear 0s infinite;
    .js-mainVisual_video--isDestroyed &,
    .js-mainVisual_video--isPlaying & {
      display: none;
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @at-root {
    .pl-mainVisual_head {
      z-index: 1;
      position: absolute;
      top: 50%;
      width: 50vw;
      min-width: 20em;
      padding: 10px 25px;
      background-color: #fff;
      transform: translateY(-50%);
    }
    .pl-mainVisual_body {
      position: fixed;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
      .js & {
        opacity: 0;
        transition: opacity 3s ease-in;
      }
      .js-mainVisual_video--isPlaying & {
        opacity: 1;
      }
    }
    .js-mainVisual_video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      transform: translate3d(-50%, -50%, 0);
    }
    .pl-mainVisual_heading {
      @include fs(40, 16);
      @include lh(16, 16);
      margin: 0;
      color: #f00;
    }
  }
}

.pl-section {
  position: relative;
  z-index: 1;
  height: 2000px;
  background-color: #fff;
}
