%svg-common {
	background: url("../img/common_sheet.svg") no-repeat;
}

.icon_factory {
	@extend %svg-common;
	background-position: 79.54461015869646% 52.74926777050367%;
}

.icon_factory_dims {
	width: 148.59px;
	height: 83.219px;
}

.icon_home {
	@extend %svg-common;
	background-position: 0 0;
}

.icon_home_dims {
	width: 174.5px;
	height: 106.438px;
}

.icon_mail {
	@extend %svg-common;
	background-position: 0 56.28840682411923%;
}

.icon_mail_dims {
	width: 149.87px;
	height: 95.906px;
}

.icon_network {
	@extend %svg-common;
	background-position: 99.4471989513877% 0;
}

.icon_network_dims {
	width: 161.53px;
	height: 101.874px;
}

.icon_school {
	@extend %svg-common;
	background-position: 0 99.67684729064038%;
}

.icon_school_dims {
	width: 148px;
	height: 82px;
}

