@charset "UTF-8";

@import
  "../../css/variables"
  ,"../../css/mixins"
  ,"../../css/icons"
  ,"../../css/mixins_sprite"
 ;

.pl-hoverTarget {
  width: 100%;
  line-height: 3;
  transition: line-height .25s ease-in-out;
  background-color: rgba(255, 0, 0, .2);
  margin-top: 50vh;
  a {
    display: inline-block;
    span {
      display: block;
      padding: 10px;
    }
  }
  &.js-hover {
    line-height: 5;
  }
}
