@charset "UTF-8";

.pl-section {
  margin-top: 20vh;
}
.pl-hoverTarget {
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  transition: padding .25s ease-in-out;
  background-color:#FFCCCC;
  padding: 20px;
  border : solid 1px #f00;
  transform: translate3d();
  & > & {
    background-color: #FFA3A3;
  }
  & > & > & {
    background-color:#FF8383;
  }
  & + & {
    margin-top: 20px;
  }
  span, a {
    display: block;
  }
  span {
    padding: 10px;
  }
  &.js-hover {
    padding: 40px;
  }
}


