@charset "UTF-8";

@use "../../css/mixins" as mixin;

.pl-nav {
  width: calc( 100% - 90px );
  position: fixed;
  top: 0;
  left: 75px;
  z-index: 3;
  background-color: #fee;
  @include mixin.mq( min-width, sm ) {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  @include mixin.mq( max-width, sm ) {
    padding: 5px 0 0 10px;
  }
  @at-root {
    .pl-nav_heading {
      @include mixin.fs(16, 16);
      margin: 0;
    }
  }
}
.pl-linkList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  @include mixin.fs(18, 16);
  @include mixin.mq( min-width, sm ) {
    margin-left: 1em;
  }
  @at-root {
    .pl-linkList_item {
      white-space: nowrap;
      & + & {
        @include mixin.mq( min-width, sm ) {
          margin-left: 0.5em;
        }
      }
    }
    .pl-linkList_anchor {
      display: block;
      padding: 6px 10px;
      text-align: center;
    }
  }
}
.pl-tabmenu {
  @at-root {
    .pl-tabmenu_list {
      display: flex;
      padding: 0;
      margin: 0;
    }
    .pl-tabmenu_item {
      display: flex;
      flex: 1;
      padding: 0;
      margin: 0;
    }
    .pl-tabmenu_anchor {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      background-color: #fcc;
      padding: 10px;
      text-align: center;
      &.js-selected {
        background-color: #f77;
      }
    }
  }
}
.pl-sectionGroup {
  @at-root {
    .pl-sectionGroup + .pl-sectionGroup {
      margin-top: 100px;
    }
  }
}
.pl-section {
  box-sizing: border-box;
  .js & {
    height: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    background-color: transparent;
    transition: opacity .25s .25s ease;
  }
  &.js-selected {
    background-color: #f77;
    height: auto;
    opacity: 1;
  }
  @at-root {
    .pl-section_body {
      padding: 10px;
      min-height: 50vh;
    }
  }
}
.page_body {
  padding-bottom: 50vh;
}
