@charset "UTF-8";

@use "../../css/mixins" as mixin;

.sg-page {
  @at-root {
    .sg-page_head {
      position: fixed;
      z-index: 10;
      background-color: #fff;
      width: 100%;
    }
  }
}
.pl-mainVisual {
  height: 100vh;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-top: solid 5px rgba(#000, .8);
    border-right: solid 5px rgba(#000, .8);
    border-bottom: solid 5px rgba(#000, .3);
    border-left: solid 5px rgba(#000, .3);
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    animation: spin 1s linear 0s infinite;
  }
  &.js-pl-mainVisual_video--isDestroyed::after,
  &.js-pl-mainVisual_video--isPlaying::after {
    display: none;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @at-root {
    .pl-mainVisual_head {
      z-index: 1;
      position: absolute;
      top: 50%;
      width: 50vw;
      min-width: 20em;
      padding: 10px 25px;
      background-color: #fff;
      transform: translateY(-50%);
    }
    .pl-mainVisual_body {
      position: fixed;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
      .js & {
        opacity: 0;
        transition: opacity 3s ease-in;
      }
      .js-pl-mainVisual_video--isPlaying & {
        opacity: 1;
      }
    }
    .js-pl-mainVisual_video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      transform: translate3d(-50%, -50%, 0);
    }
    .pl-mainVisual_heading {
      @include mixin.fs(40, 16);
      @include mixin.lh(16, 16);
      margin: 0;
      color: #f00;
    }
    .pl-mainVisual_foot {
      @include mixin.fs( 14 );
      box-sizing: border-box;
      position: fixed;
      bottom: 10px;
      text-align: right;
      padding: 0 10px;
      width: 100%;
    }
    .pl-mainVisual_copyright {
      color: #fff;
      a {
        @include mixin.anc( #fff, #fff, #fff, #fff );
      }
    }
  }
}

.pl-section {
  position: relative;
  z-index: 1;
  height: 2000px;
  background-color: #fff;
}

.pl-video {
  display: block;
  width: 100%;
}
