-
  let
    title = "サイト",
    h1 = title,
    cssDir = "css",
    foo = "foo"

block config

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title=title
    link(rel="stylesheet", href=cssDir + "/common.css")
  body
    div.page#page
      block pageHead
        //
        header.pgHead#pgHead
          div.pgHead-core
            a.siteId.pgHead-siteId
              div.siteId=title
        // /.pgHead#pgHead
      block pageBody
        div.pgBody
          p=foo
        // /.pgBody
      block pageFoot
        footer.pgFoot#pgFoot
    // /.page#page