extends /_layout.pug

block vars
  -
    page = "index"

block pageBody
  h1 #{siteData.h1}
  p bar
  a.foo
    div.foo foo
  |
  |
  a.foo
    p.aa aa
    p.bb bb
  ul
    li
      a.foo(href="#")
        div.foo
    li
      a.foo(href="#")
        div.foo
  div.hoverTarget
    a(href="#page")
      span aa
  div.toggleTarget
    span.toggleTarget_btn o
    div.toggleTarget_inner
      ul.toggleTarget_list
        li.toggleTarget_item 1
        li.toggleTarget_item 2
        li.toggleTarget_item 3
        li.toggleTarget_item 4
  div.inviewTarget.js-isInView
    p aaaa
