@charset "UTF-8";

@forward "fonts";
@forward  "elements";
@forward "_vendor/normalize";
@forward "_components/layout";
@forward  "_components/_group";
@forward  "_components/_nav";
@forward  "_components/_sections";
@forward  "_components/_headings";
@forward  "_components/_paragraphs";
@forward  "_components/_links";
@forward  "_components/_logos";
@forward  "_components/_buttons";
@forward  "_components/_banners";
@forward  "_components/_lists";
@forward  "_components/_tables";

@use "mixins" as mixin;

.and {
  @include mixin.mq( min-width, md, and, max-width, lg ) {
    @include mixin.fs( 14, 17 );
  }
}

.caseOne {
  @include mixin.mq( min-width, md ) {
    margin-top: 10px;
  }
  @include mixin.mq( max-width, md ) {
    margin-top: 20px;
  }
}

.caseTwo {
  @include mixin.mq( max-height, 100px ) {
    margin-top: 0;
  }
}
