@charset "UTF-8";

@forward "_vendor/normalize";
@forward "fonts";
@forward  "elements";
@forward "_components/layout";
@forward  "_components/group";
@forward  "_components/nav";
@forward  "_components/sections";
@forward  "_components/headings";
@forward  "_components/paragraphs";
@forward  "_components/links";
@forward  "_components/logos";
@forward  "_components/buttons";
@forward  "_components/banners";
@forward  "_components/lists";
@forward  "_components/tables";

@use "mixins" as mixin;

.and {
  @include mixin.mq( min-width, md, and, max-width, lg ) {
    @include mixin.fs( 14, 17 );
  }
}

.caseOne {
  @include mixin.mq( min-width, md ) {
    margin-top: 10px;
  }
  @include mixin.mq( max-width, md ) {
    margin-top: 20px;
  }
}

.caseTwo {
  @include mixin.mq( max-height, 100px ) {
    margin-top: 0;
  }
}
