@charset "UTF-8";

@import
  "variables"
  ,"mixins"
  ,"elements"
  ,"icons"
  ,"fonts"
  ,"_vendor/normalize"
  ,"mixins_sprite"
  ,"sprite_svg"
;

@import "_components/_layout"
  ,"_components/_group"
  ,"_components/_nav"
  ,"_components/_sections"
  ,"_components/_headings"
  ,"_components/_paragraphs"
  ,"_components/_links"
  ,"_components/_buttons"
  ,"_components/_banners"
  ,"_components/_lists"
  ,"_components/_tables"
;

.and {
  @include mq( min-width, md, and, max-width, lg ) {
    @include fs( 14, 17 );
  }
}

.caseOne {
  @include mq( min-width, md ) {
    margin-top: 10px;
  }
  @include mq( max-width, md ) {
    margin-top: 20px;
  }
}

.caseTwo {
  @include mq( max-height, 100px ) {
    margin-top: 0;
  }
}
