extends /_bases/_layout.pug

append style
  link(rel="stylesheet", href="/examples/css/accordion.css")

append script_body
  script(src="/examples/js/common_units.js")
  script(src="/examples/js/accordion.js")

block pageBody

  div.pl-controller
    div.pl-controller_field
      label.pl-controller_label
        input.pl-controller_input.pl-controller_input--checkbox(type="checkbox",name="closeother",value="true")
        span close other
      button.pl-controller_button.pl-controller_button--close close all
      button.pl-controller_button.pl-controller_button--open open all
  ul.pl-list
    li.pl-list_item
      h1.pl-list_heading 1
      div.pl-list_body
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
    li.pl-list_item
      h1.pl-list_heading 2
      div.pl-list_body
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
    li.pl-list_item
      h1.pl-list_heading 3
      div.pl-list_body
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
    li.pl-list_item
      h1.pl-list_heading 4
      div.pl-list_body
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
    li.pl-list_item
      h1.pl-list_heading 5
      div.pl-list_body
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos nobis incidunt mollitia cupiditate esse atque recusandae officiis unde debitis minus rerum at consequuntur cumque sapiente rem nulla, laudantium fugiat!
