extends /_layout.pug

append style
  link(rel="stylesheet", href="/examples/css/hover.css")

append script_body
  script(src="/examples/js/common_units.js")
  script(src="/examples/js/hover.js")

block pageBody
  div.pl-section
    div.pl-hoverTarget
      span
        a(href="#page") aa
    div.pl-hoverTarget
      span
        a(href="#page") aa

    div.pl-hoverTarget
      div.pl-hoverTarget
        div.pl-hoverTarget
