extends /_bases/_layout.pug

append style
  link(rel="stylesheet", href="/examples/css/rescroll.css")

append script_body
  script(src="/examples/js/common_units.js")
  script(src="/examples/js/rescroll.js")

block pageBody
  div.pl-localNav
    ul.pl-localNav_list
      li.pl-localNav_item
        a(href="#section-A") section A
      li.pl-localNav_item
        a(href="#section-B") section B
      li.pl-localNav_item
        a(href="#section-C") section C
      li.pl-localNav_item
        a(href="#section-D") section D
  div.pl-sectionGroup
    section.pl-section#section-A section A
    section.pl-section#section-B section B
      div.pl-section_core
        img(src="./img/test.png", alt="")
    section.pl-section#section-C section C
      div.pl-section_core
        img(src="./img/test.png", alt="")
    section.pl-section#section-D section D
