extends /_layout.pug

append vars
  -
    page = "/examples/resize.html"

block pageBody

append style
  link(rel="stylesheet", href="/examples/css/resize.css")

append script_body
  script(src="/examples/js/common_vendor.js")
  script(src="/examples/js/resize.js")

block pageBody
  div.pl-test resize
    h1.pl-test_heading one
    p.pl-test_one
    h1.pl-test_heading turn
    p.pl-test_turn
    h1.pl-test_heading on
    p.pl-test_on
    h1.pl-test_heading cross
    p.pl-test_cross
