extends /_bases/_layout.pug

append style
  link(rel="stylesheet", href="/examples/css/simplevideoplay.css")

append script_body
  script(src="/examples/js/common_modules.js")
  script(src="/examples/js/simplevideoplay.js")

block pageBody
  div.pl-section
    div.pl-videoPlayer_outer
      div.pl-videoPlayer
        video.pl-videoPlayer_video(src="media/movie.mp4", playslinle, controls, poster="./img/poster.jpg")
        div.pl-videoPlayer_copyright
          a(href="https://www.pexels.com/ja-jp/photo/855414/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels") Pexels
          |の
          a(href="https://www.pexels.com/ja-jp/@pixabay?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels") Pixabay
          |による動画
