extends /_layout.pug

append style
  link(rel="stylesheet", href="/examples/css/sticky.css")

append script_body
  script(src="/examples/js/common_vendor.js")
  script(src="/examples/js/sticky.js")

block pageBody
  div.pl-nav
    nav.pl-nav_nav
      ul.pl-nav_list
        li.pl-nav_item
          a.pl-nav_anchor nav1
