extends /_layout.pug

append style
  link(rel="stylesheet", href="/examples/css/tab.css")

append script_body
  script(src="/examples/js/common_units.js")
  script(src="/examples/js/tab.js")

block pageBody
  nav.pl-nav
    h1.pl-nav_heading section
    ul.pl-linkList
      li.pl-linkList_item
        a.pl-linkList_anchor(href="#section-A") A
      li.pl-linkList_item
        a.pl-linkList_anchor(href="#section-B") B
      li.pl-linkList_item
        a.pl-linkList_anchor(href="#section-C") C
      li.pl-linkList_item
        a.pl-linkList_anchor(href="#section-D") D
      li.pl-linkList_item
        a.pl-linkList_anchor(href="#section-E") E
      li.pl-linkList_item
        a.pl-linkList_anchor(href="#section-F") F
      li.pl-linkList_item
        a.pl-linkList_anchor(href="#section-G") G

  section.pl-sectionGroup.pl-sectionGroup--1#group-1
    div.pl-sectionGroup_head
      div.pl-tabmenu
        ul.pl-tabmenu_list
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-A")
              span section-A
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-B")
              span section-B
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-C")
              span section-C
    div.pl-sectionGroup_body
      section.pl-section.pl-section-A#section-A
        div.pl-section_body section-A
      section.pl-section.pl-section-B#section-B
        div.pl-section_body section-B
      section.pl-section.pl-section-C#section-C
        div.pl-section_body section-C

  section.pl-sectionGroup.pl-sectionGroup--2#group-2
    div.pl-sectionGroup_head
      div.pl-tabmenu
        ul.pl-tabmenu_list
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-D") section-D
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-E") section-E
    div.pl-sectionGroup_body
      section.pl-section.pl-section-D#section-D
        div.pl-section_body section-D
      section.pl-section.pl-section-E#section-E
        div.pl-section_body section-E

  section.pl-sectionGroup.pl-sectionGroup--3#group-3
    div.pl-sectionGroup_head
      div.pl-tabmenu
        ul.pl-tabmenu_list
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-F") section-F
          li.pl-tabmenu_item
            a.pl-tabmenu_anchor(href="#section-G") section-G
    div.pl-sectionGroup_body
      section.pl-section.pl-section-F#section-F
        div.pl-section_body section-F
      section.pl-section.pl-section-G#section-G
        div.pl-section_body section-G
  section.pl-sectionGroup.pl-sectionGroup--3
    section.pl-section-F#section-H section-H
