extends /_layout.pug

block vars
  -
    page = "/examples/videoground.html"

block pageBody

append style
  link(rel="stylesheet", href="/examples/css/videoground.css")

append script_body
  script(src="/examples/js/common_vendor.js")
  script(src="/examples/js/videoground.js")

block pageBody
  div.pl-mainVisual
    div.pl-mainVisual_head
      h1.pl-mainVisual_heading VideoGround
    div.pl-mainVisual_body
