extends /_layout.pug

append style
  link(rel="stylesheet", href="/examples/css/videoground.css")

append script_body
  script(src="/examples/js/common_units.js")
  script(src="/examples/js/videoground.js")

block pageBody
  div.pl-mainVisual
    div.pl-mainVisual_head
      h1.pl-mainVisual_heading VideoGround
    div.pl-mainVisual_body
    div.pl-mainVisual_foot
      p.pl-mainVisual_copyright
        a(href="https://www.pexels.com/ja-jp/photo/3064203/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels") Pexels
        |の
        a(href="https://www.pexels.com/ja-jp/@taryn-elliott?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels") Taryn Elliott
        |による動画
