@charset "utf-8";


.link {
  vertical-align: middle;
  &::before {
    font-size: 14px;
    @include icon-styles;
    display: inline-block;
    transform: translateY( 2px );
    margin-right: 2px;
  }
  &--normal {
    &::before {
      content: icon-char(arrow_right);
    }
  }
}
