@charset "utf-8";

@use "../_mixins_sprite" as mixin;

.sg-linkList {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
  @at-root {
    .sg-linkList::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      width: 1px;
      background-color: #f00;
      transform-origin: bottom;
      transform: scaleY(1.05);
    }
    .sg-linkList_item {
      & + & {
        margin-top: 10px;
      }
    }
  }
}
.sg-iconList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  bottom: 0;
  @at-root {
    .sg-iconList_item {
      & + & {
        margin-left:10px;
      }
      &--home {
        @include mixin.sprite(mixin.$sheet-home,2);
      }
      &--factory {
        @include mixin.sprite(mixin.$sheet-factory,2);
      }
      &--school {
        @include mixin.sprite(mixin.$sheet-school,2);
      }
      &--mail {
        @include mixin.sprite(mixin.$sheet-mail,2);
      }
      &--network {
        @include mixin.sprite(mixin.$sheet-network,2);
      }
    }
  }
}
