block config
  -
    sitedata = {
      _index : {
        title    : "トップページ",
        ogPrefix : "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#",
        ogType   : "website",
      }
    }