extends /_layout.pug

block pageBody

  p
    a(href="/examples/").link.link--normal examples

  ul.iconList
    li.iconList_item.iconList_item--home
    li.iconList_item.iconList_item--factory
    li.iconList_item.iconList_item--school
