extends /_bases/_layout.pug

block pageBody

  ul.sg-linkList
    li.sg-linkList_item
      a( href="/examples/accordion.html").sg-link.sg-link--normal Accordion
    li.sg-linkList_item
      a( href="/examples/hover.html").sg-link.sg-link--normal Hover
    li.sg-linkList_item
      a( href="/examples/inview.html").sg-link.sg-link--normal Inview
    li.sg-linkList_item
      a( href="/examples/locate.html").sg-link.sg-link--normal Locate
    li.sg-linkList_item
      a( href="/examples/rescroll.html").sg-link.sg-link--normal Rescroll
    li.sg-linkList_item
      a( href="/examples/resize.html").sg-link.sg-link--normal Resize
    li.sg-linkList_item
      a( href="/examples/simplevideoplay.html").sg-link.sg-link--normal Simple video play
    li.sg-linkList_item
      a( href="/examples/sticky.html").sg-link.sg-link--normal Sticky
    li.sg-linkList_item
      a( href="/examples/tab.html").sg-link.sg-link--normal Tab
    li.sg-linkList_item
      a( href="/examples/videoground.html").sg-link.sg-link--normal Videoground

  ul.sg-iconList
    li.sg-iconList_item.sg-iconList_item--home
    li.sg-iconList_item.sg-iconList_item--factory
    li.sg-iconList_item.sg-iconList_item--school
    li.sg-iconList_item.sg-iconList_item--home
    li.sg-iconList_item.sg-iconList_item--factory
    li.sg-iconList_item.sg-iconList_item--school
    li.sg-iconList_item.sg-iconList_item--home
    li.sg-iconList_item.sg-iconList_item--factory
    li.sg-iconList_item.sg-iconList_item--school
