extends /_layout.pug

block vars
  -
    page = "index"

block pageBody
  p bar
  a.foo
    div.foo foo
  |
  |
  a.foo
    p.aa aa
    p.bb bb
  ul
    li
      a.foo(href="#")
        div.foo
    li
      a.foo(href="#")
        div.foo



