@charset "UTF-8";
@import
 'variables'
,'mixins'
,'icons'
,'mixins_sprite'
;

.siteGlobalNav-01 {
  .links {
    & > li > a {
      @include icon(arrow1_r);
      &:before {
        font-size: 12px;
      }
    }
  }
}
.pHead-01 {
  &:before {
    content: '';
    @include sprite($sheet-home);
    display: inline-block;
  }
}